.footer {
  padding-top: 24px;
  padding-bottom: 18px;
  background-color: $background-color;

  @media (max-width: $smallD) {
    padding-top: 24px;
  }

  @media (max-width: 540px) {
    padding-bottom: 0px;
  }

  @media (max-width: $mobile) {
    padding-top: 31px;
  }

  &__container {
    display: grid;
    gap: 30px;
    @include grid;
    @include gridSmallD;
    @include gridTablet;

    @media (max-width: 540px) {
      grid-template-rows: 62px 62px;
    }
  }

  &__logo {
    grid-column: 1/5;

    @media (max-width: $smallD) {
      margin-top: 5px;
    }

    @media (max-width: $tablet) {
      grid-column: 1/4;
    }

    @media (max-width: 540px) {
      position: absolute;
      bottom: 0;
      grid-column: 1/7;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      padding-top: 14px;
      padding-bottom: 14px;
      width: 100%;
      background-color: #4a4a4a;
    }

    & img {
      margin-bottom: 3px;

      @media (max-width: 540px) {
        margin-bottom: 0px;
      }
    }

    &-desc {
      font-family: 'TT';
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #E9E9E9;

      @media (max-width: 540px) {
        font-size: 10px;
        line-height: 13px;
      }
    }
  }

  &__middle {
     grid-column: 5/9;

    @media (max-width: $smallD) {
      grid-column: 5/10;
    }

    @media (max-width: 930px) {
      display: none;
    }

    &-desc {
      width: 90%;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #CACACA;
    }

    @media (max-width: $smallD) {
      width: 96%;
    }
  }

  &__social {
    grid-column: 11/13;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: $tablet) {
      grid-column: 4/7;
    }

    @media (max-width: 540px) {
      grid-column: 1/7;
      grid-row: 1;
      justify-self: center;
    }


    &-desc {
      margin-bottom: 7px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #CACACA;
    }

    &-list {
      display: flex;
      margin-right: 20px;
    }

    &-item {
      margin-right: 20px;

      &-link path {
        @include trans;
      }

      &-link {
        &:hover path {
          fill: $hover;
        }
        &:focus-visible path {
          fill: $focus;
        }
        &:active path {
          fill: $active;
        }
      }
    }
  }


}